<h1>Welcome to Intrepid Learning Solutions!</h1>
<h4> Your first selection was <%=@sel1%>, your second selection was <%=@sel2%>, your third selection was <%=@sel3%>, your fourth selection was <%=@sel4%> If this is not correct, please go <a href="/">back </a>and retry</h4>

<h2>Make your fifth selection</h2>

 <form action="/submit5" method="post">

      </div>

      <div>
        <label for="movie_id_box">
          Selection 5
        </label>
      <select id="movie_id_box" name="selection 2">
      <%if Answer.where({:user_id=>@current_user.id}).where(:proactive=>true).exists? %>
      <%else%>
        <option value="proactive"> I'm being proactive, nobody has tasked me with an analysis yet. </option>
        <%end%>
      <%if Answer.where({:user_id=>@current_user.id}).where(:tasking=>true).exists? %>
      <%else%>
        <option value="tasking"> I've just received a tasking. </option>
      <%end%>
      <%if Answer.where({:user_id=>@current_user.id}).where(:collection=>true).exists? %>
      <%else%>
        <option value="collection"> I've collected some data.  </option>
      <%end%>
      <%if Answer.where({:user_id=>@current_user.id}).where(:claim=>true).exists? %>
      <%else%>
        <option value="claim"> I'm figuring out my claim.  </option>
      <%end%>
      <%if Answer.where({:user_id=>@current_user.id}).where(:assessment=>true).exists? %>
      <%else%>
        <option value="assessment"> I'm drafting my assessment.  </option>
      <%end%>
      </select>
           </div>
      <button>
        Submit
      </button>
    </form>
        <form action="/submit5" method="post">
      </div>

 
    </form>
      </div>